.topbar{
  height: 69px;
  width: 100%;
  display: table;
  background-color: white;
  padding: 0 14px;
  box-sizing: border-box;
}
.topbar-cell{
  display: table-cell;
  vertical-align: middle;
}
.topbar-tit{
  border-left: 3px solid #2bac84;
  padding-left: 8px;
  font-size: 14px;
  color: black;
  float: left;
}
.fr{
   float: right;
}
.actions{
  float: left;
  display: block;
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  line-height: 30px;
  border: 1px solid #2bac84;
  background-color: #2bac84;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 13px;
}
ul{
  list-style: none;
  margin: 0;
}
a{
  outline: 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.list-tit{
  background-color: white;
  padding: 0 14px;
}
.el-tabs__header{
  margin: 0;
}
.el-tabs__item.is-active{
  color: #2bac84;
}
.el-tabs__active-bar{
  background-color: #2bac84;
}
.el-tabs__item:hover{
  color:#2bac84;
}
.query-bar{
  background-color: white;
  padding: 0 20px 20px;
  margin-top: 14px;
}
.query-list{
  line-height: 30px;
  position: relative;margin-left: -20px;
}
.query-bar .el-form-item{
  margin: 20px 0 0 0;
}
.query-bar .el-button{
  margin-left: 20px;
}
.view_table{
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}
.view_table .el-pagination{
  margin-top: 20px;
}
.view_table .el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: #2bac84;
}
.view_table .el-pagination.is-background .el-pager li:hover{
  color: #2bac84;
}
